<div class='new_user'>
  <form action='/users' method='post'>
    <input type='text' name='user[username]' placeholder='username'>
    <input type='password' name='user[password]' placeholder='password'>
    <input type='text' name='user[first_name]' placeholder='First Name'>
    <input type='text' name='user[last_name]' placeholder='Last Name'>
    <input type='email' name='user[email]' placeholder='Email'>
    <input type='submit' value='Sign me up!'>
  </form>
</div>